/* Tag Selector */

h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}

/* Class Selector */

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

/* ID Selector */
#heading {
  color: blue;
}

#big {
  
}
